#page-product-list {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

#search-products {
  margin-top: 3.2rem;
}

#search-products label {
  color: var(--color-text-in-primary);
}
#search-products input {
  max-width: 740px;
}
#page-product-list main {
  margin: 6.2rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
}
.not-found {
  text-align: center;
  font-weight: 600;
  background: #fff;
  padding: 3.4rem;
  border-radius: 1.5rem;
  grid-column: 1;
}
@media (min-width: 700px) {
  #page-product-list {
    max-width: 100%;
  }
  .not-found {
    grid-column: 2;
  }
  #page-product-list main {
    margin: 6.2rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #search-products {
    position: absolute;
    bottom: -28px;
    width: 100%;
  }

  #search-products .input-block {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .input-block::-webkit-input-placeholder {
    text-align: center;
  }
}
