.product-item {
  margin-top: 2.4rem;

  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: var(--color-primary);
}

.product-item img {
  height: 10rem;
  /* border-radius: 50%; */
  width: 15rem;
  object-fit: cover;
  background: var(--color-box-base);
}

.product-item > p {
  font-size: 1.6rem;
  line-height: 0.8rem;
  text-align: center;
  color: var(--color-title-in-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-item > p > strong {
  margin-bottom: 2.4rem;
}
.product-item > p > button{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10rem;
    height: 5.6rem;
    font: 700 1.4rem Archivo;
    text-decoration: none;
    color: var(--color-primary-light);
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0.8rem;
    transition: 0.2s;
    cursor: pointer;
}
@media (min-width: 700px) {
}
